@use "./fonts.scss";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.page {
  background-color: white;

  /* mobile viewport bug fix */
  min-height: 100vh;
  min-height: fill-available;
  display: grid;
  grid-template:
    "header" min-content
    "main" 1fr
    / auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header,
.main {
  max-width: 1440px;
  min-width: 700px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: auto;
}
