.calendar {
  margin-top: 50px;
  height: 100%;
}

.month,
.legend {
  margin: auto;
  max-width: 1200px;
}

.month {
  height: 100%;
  min-height: 600px;
}

.week {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 10%;
}

.day {
  width: 14%;
  border: 1px solid #bfbfbf;

  &:hover {
    border: 2px solid black;
  }

  &__date {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
  }

  &--gray &__date {
    color: #bfbfbf;
  }
}

.legend {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .day-of-week {
    width: 14%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
}
